<!-- Contact section -->
<section class="bg-[#bd987150] relative pt-12 dark:bg-[#032922]">
  <!-- Background pattern -->
  <div
    class="absolute inset-x-0 top-1/2 h-1/2 bg-[#bd9871] bg-opacity-70 transform -translate-y-1/2 overflow-hidden"
  >
  </div>
  <!-- Contact form -->
  <div
    class="container mx-auto py-8 lg:py-16 px-4 pb-24 lg:pb-32 flex justify-center items-center relative z-10"
  >
    <div class="relative max-w-5xl w-full">
      <!-- Image column -->
      <div
        class="hidden md:block md:w-3/5 bg-gray-500 rounded-lg aspect-[16/9] overflow-hidden"
      >
        <img
          src="/Sunset.PNG"
          alt="Avatar large"
          class="rounded-lg shadow-lg w-full h-full object-cover object-[50%_40%]"
        />
      </div>
      <!-- Contact form column -->
      <div
        class="md:absolute md:top-1/2 md:right-[-15%] md:transform md:-translate-y-1/2 md:w-3/5 z-10"
      >
        <div class="bg-[#84c4b8] p-8 rounded-lg shadow-lg max-w-md w-full">
          <h2
            class="mb-4 text-3xl tracking-tight font-extrabold text-center text-[#032922]"
          >
            Contact Me
          </h2>
          <p class="mb-8 font-bold text-center text-[#032922] sm:text-lg">
            Reach out below for any inquiries or to discuss potential
            collaborations.
          </p>
          <form action="mailto:Taylor@Tamarisk.uk" method="post" enctype="text/plain" class="space-y-6">
            <div>
              <label
                for="Name"
                class="block mb-2 text-sm font-bold text-[#032922]"
              >
                FIRST NAME
              </label>
              <input
                name="first-name"
                type="text"
                id="first-name"
                class="block p-3 w-full text-sm font-bold text-[#032922] bg-[#bce6de] rounded-full border-4 border-[#bd9871] shadow-sm focus:ring-[#bd9871] focus:border-[#bd9871] placeholder-[#bd9871]"
                placeholder=". . ."
                required
              />
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-bold text-[#032922]"
              >
                YOUR EMAIL
              </label>
              <input
                name="email"
                type="email"
                id="email"
                class="block p-3 w-full text-sm font-bold text-[#032922] bg-[#bce6de] rounded-full border-4 border-[#bd9871] shadow-sm focus:ring-[#bd9871] focus:border-[#bd9871] placeholder-[#bd9871]"
                placeholder=". . ."
                required
              />
            </div>
            <div class="flex justify-center">
              <button
                type="submit"
                class="py-3 px-5 text-sm font-bold text-center text-[#032922] rounded-full border-8 border-[#bd9871] bg-[#bd987190] hover:bg-[#bd9871] hover:border-[#bd9871] focus:ring-4 focus:outline-none focus:ring-[#bd9871] transition-colors duration-300"
              >
                Contact
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
