<!-- Hero section -->
<section class="bg-[#bd987150] py-8 sm:py-12 lg:py-16 dark:bg-[#032922]">
  <div class="my-auto mx-auto max-w-screen-xl px-4 text-center dark:">
    <!-- Profile photo -->
    <div class="flex justify-center mb-8 sm:my-8 md:my-12">
      <img src="/CroppedSelfie.PNG" alt="Avatar"
        class="rounded-full w-32 h-32 object-cover object-top border-8 border-[#bd9871]"
      />
    </div>
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-[#032922] md:text-5xl lg:text-6xl dark:text-[#f0decc]"
    >
      Tamarisk Media
    </h1>
    <p
      class="mb-8 text-lg font-normal text-[#032922] lg:text-xl sm:px-16 lg:px-48 dark:text-[#f0decc]"
    >
      Works in Progress: "Species Problems", Data and Sport series, Visiting every gallery in my city. 
    </p>
    </div>
  </div>
</section>
