---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <BaseHead />
  <body
    class="flex
    min-h-screen
    flex-col
    bg-[#bd987150]
    font-jetbrains-mono
    text-[#032922]
    dark:bg-[#032922]
    dark:text-[#f0decc]"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
